.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .movie-header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  .movie-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .movie-subtitle {
    font-size: 1.2em;
    color: #555;
    margin: 0;
  }
  
  .date {
    color: #777;
    font-size: 0.9em;
  }


  .movie-body {
    padding: 20px;
    text-align: center;
  }
  
  .poster {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1em;
    margin: 15px 0;
    color: #666;
  }
  
  .details, .classification, .schedule {
    font-size: 0.9em;
    margin: 5px 0;
  }
  
  .movie-footer {
    padding: 20px;
    text-align: center;

  }
  
  .watch-link {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .watch-link:hover {
    background-color: #0056b3;
  }

  div > h6 {
    color:#2b00fe;

  }
  