
<body>
    <div class="container">
        <h2>Sala 1</h2>
        <h2>Amigos Imaginário</h2>
        <p class="date">2024-08-07</p>
        <p class="description">Depois de descobrir que pode ver os amigos imaginários de todos, uma garota embarca em uma aventura mágica para reconectar amigos imaginários esquecidos</p>
        <a href="https://www.youtube.com/watch?v=ss2KvK-w6w8" target="_blank" class="watch-link">Assistir</a> 
        <!--Mostra o video na página-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ss2KvK-w6w8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="path/to/your/image.png" alt="Título" class="poster">
        <p class="details">AVENTURA | DUBLADO | 1H44 MIN</p>
        <p class="classification">CLASSIFICAÇÃO: LIVRE</p>
        <h6>SÁB | DOM: 15H</h6>
    </div>
</body>

