<mat-toolbar color="primary">
    <span>Cinema XYZ</span>
  </mat-toolbar>

<!-- home.component.html -->
<div class="container">
    <div class="row">
        @for (exibicao of exibicoes; track exibicao.id){
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ exibicao.getFilme().titulo }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Sala: {{ exibicao.getSala().nome }}</p>
                    <p>{{ exibicao.getFilme().descricao }}</p>
                </mat-card-content>
            </mat-card>
        }
    </div>
  </div>
  