mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.toolbar-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  display:inline;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  
}

a[mat-button] {
  color: white;
  font-weight: bold;
}

a[mat-button] mat-icon {
  margin-right: 0.5em;
}

