<mat-toolbar color="primary">
  <span >CineStar</span>
  <mat-toolbar-row>
    <a mat-button routerLink='/movies'><!-- <mat-icon>movie</mat-icon> --> Lançamentos</a>
    <a mat-button routerLink='/salas'><!-- <mat-icon>theaters</mat-icon> -->Salas</a>
    <a mat-button routerLink='/ingressos'> <!-- <mat-icon>confirmation_number</mat-icon> -->Ingressos</a>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="container">
  <section id="movies">
    <app-movie></app-movie>
  </section>
  <section id="salas">
    <app-sala></app-sala> 
  </section>
  <section class="table" id="ingressos">
    <app-ingresso></app-ingresso>
  </section>
</div>
<footer>
  <p>&copy; 2024 CineStar</p>
</footer>





